.container-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container-card {
    display: flex;
    flex-direction: column;
    width: 20%;
    
}

.img {
    max-height: 120px;
    max-width: 120px;
    border-radius: 60px;
    margin-left: 23%;
    transform: translate(0%, 20%);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.opinion-container {
    display: flex;
    border: 1px solid grey;
    flex-direction: column;
    height: 300px;
    padding: 5%;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    background-color: #f4f4f4;
    
}

@media (max-width: 768px) {
    .container-slide {
        flex-direction: column;
        /* Cambia la dirección del flex a columna */
        align-items: flex-start;
        /* Alinea los elementos al inicio */
    }

    .container-card {
        width: 100%;
        /* Ajusta el ancho para ocupar todo el espacio disponible */
        margin-bottom: 10%;
        /* Añade margen inferior si es necesario */
    }

    .img {
        margin-left: 0;
        /* Elimina el margen izquierdo */
        margin-bottom: 2%;
        /* Añade margen inferior si es necesario */
        transform: none;
        /* Elimina la transformación */
    }

    .opinion-container {
        height: auto;
        /* Ajusta la altura automática */
        margin-bottom: 5%;
        /* Añade margen inferior si es necesario */
    }
}