.container-order {
    display: flex;
    width: 35%;
    height: 30%;
    padding: 5%;
    flex-direction: column;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 5%;
}

.title {
     display: flex;
     margin-bottom: 15%;
}

.linea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

.boton {
    margin-top: 20%;
    margin-bottom: 5%;

}
