.product-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product img {
    width: 20%;
    
}

.product-name {
    width: 10%;
    font-size: 12px;
    font-weight: bold;
}

.product-rating {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .product-slide {
        flex-wrap: wrap;
        /* Ajusta el comportamiento de envoltura */
    }

    .product {
        width: 45%;
        /* Ajusta el ancho para ocupar el espacio disponible */
        margin-bottom: 5%;
        /* Añade margen inferior si es necesario */
    }

    .product img {
        width: 100%;
        /* Ajusta el ancho de la imagen para ocupar todo el contenedor */
    }

    .product-name {
        width: 100%;
        /* Ajusta el ancho para ocupar todo el contenedor */
        text-align: center;
        /* Centra el texto */
        margin-top: 5px;
        /* Añade margen superior */
    }
}