.card {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    justify-content:center;
    margin-bottom: 5%;
}



.img-recipe {
    display: flex;
    width: 100%;
    margin-right: 10%;
}

.ingredients {
    padding-left: 5%;
    padding-right: 5%;
    
}

.ingredients h3 {
    margin-bottom: 1%;
}

.ingredients h5 {
    text-align: left;
}

.ingredients p {
    text-align: left;
}

.instructions {
    padding-left: 5%;
    padding-right: 5%;
}

.instructions h5 {
    text-align: left;
}

.instructions p {
    text-align: left;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        /* Ajusta el ancho para ocupar todo el espacio disponible */
        margin-left: 5%;
        /* Ajusta el margen izquierdo */
        margin-right: 5%;
        /* Ajusta el margen derecho */
    }

    .img-recipe {
        margin-right: 0;
        /* Elimina el margen derecho */
    }

    .ingredients,
    .instructions {
        padding-left: 5%;
        padding-right: 5%;
    }

    .ingredients h5,
    .ingredients p,
    .instructions h5,
    .instructions p {
        text-align: left;
        /* Ajusta el texto a la izquierda */
    }
}